

.breadcumbs{
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8;
  margin: 0 auto;
  max-width: 800px;
  // padding: 20px 0;
  .break{
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 4px;
    .itemBreak{
      display: inline-block;
      a{
        text-decoration: none;
        color: #000000;
        font-size: 18px;
        
      }
    }
    .activeBreak{
      color: #0861ba;
      font-size: 18px;
    }
  }
}