

.bannerPartner{
  position: relative;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto',sans-serif;

  .imageBanner{
    width: 100%;
  } 
  .layoutBanner{
    width: 42%;
    z-index: 1000;
    position: absolute;
    top: 10%;
    padding: 20px 100px;
    .titleBanner{
      font-size: 40px;
      line-height: 3.5rem;
      text-align: start;
    }
    .des{
      line-height: 2.5rem;
      font-size: 18px;
      text-align: start;
    }
    .lBtn{
      display: flex;
      justify-content: flex-start;
      .par{ 
        padding: 18px 30px;
        font-size: 18px;
        border-radius: 30px;
        border: 1px solid #000000;
        color: #ffffff;
        background-color: #000000;
        border: 1px solid #ffffff;
        transition: all ease-in 0.2s;
        &:hover{
          cursor: pointer;
          color: #000000;
          background-color: #ffffff;
          border: 1px solid #ffffff;
        }
      }
    }
  }
}