

.bannerMac{
  .bannerMacSw{
    .sliderItem{
      border-radius: 10px;
      box-sizing: border-box;
      overflow: hidden;
      
    }

  }
  .groupCustomNav{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    .preMac{
      width: 35px;
      height: 35px;
      background-color: black;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      &:hover{
        cursor: pointer;
      }
    }
    .nextMac{
      width: 35px;
      height: 35px;
      background-color: black;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        cursor: pointer;
      }
    }
  }

}