@import '../../../../../assets/helpers/variable';


.banner{

  width: 100%;
  height: 650px;
  background-image: url('../../../../../assets/images/banner-about-us.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto',sans-serif;
  display: flex;
  justify-content: center;
  .leftBanner{
    color: #ffffff;
    width: 55%;
    padding-top: 120px;
    .titleBanner{
      font-size: 60px;
    }
    .desBanner{
      font-size: 32px;
      font-weight: 400;
    }
    .btnBanner{
      .btn{
        padding: 15px 35px;
        border-radius: 15px;
        border: 1px solid #ffffff;
        color: #ffffff;
        background-color: transparent;
        font-size: 20px;
        transition: all ease-in 0.3s;
        &:hover{
          background-color: #ffffff;
          color: #000000;
          cursor: pointer;
        }
      }

    }

  }
  .rightBanner{
    width: 40%;

  }

}