

.newsletter{
  font-family: 'Roboto',sans-serif;
  margin-bottom: 60px;
  .titleNewsletter{
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
  }
  .formNewSletter{
    .forms{
      padding: 20px 0;
      .fieldEmail{
        padding: 14px 20px;
        min-width: 600px;
      }
      .submit{
        border: none;
        background-color: rgb(7, 47, 149);
        padding: 16px 21px;
        color: #ffffff;
      }
    }
  }
}