.sloganMac {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background: #f1efefb9;
  font-family: 'Roboto',sans-serif;
}

.sloganContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.sloganGroup {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  left: -100%; /* Bắt đầu từ ngoài màn hình bên trái */
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  transform: translateX(-100%);

  &.active {
    left: 0;
    opacity: 1;
    transform: translateX(0); /* Di chuyển vào giữa */
  }
}

.sloganImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sloganText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0 0 0.5rem;
  }

  p {
    font-size: 1rem;
    color: #191818;
    margin: 0;
  }
}

.ctaButton {
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  color: #ffffff;
  background-color: #0071e3;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.ctaButton:hover {
  transform: scale(1.05);
}
