

.new{
  font-family: 'Roboto',sans-serif;
  margin-bottom: 70px;
  .lineContent{
    .titleSection{
    
    }
    .cta{
      
      a{
        text-decoration: none;
        color: #105ef0;
        font-size: 12px;
      }
    }
  }
  .listNew{
    .newSwiper{
      .product{
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #dadada;
        .images{
          width: 100%;
          height: 200px;
          border-radius: 4px;
          box-sizing: border-box;
          overflow: hidden;
          .image{
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
        .shortContent{
          color: #363333;
          font-size: 12px;
        }
        .info{
          display: flex;
          justify-content: space-between;
          .badge{
            width: 25px;
            height: 25px;
            
            background-image: url('../../../../../assets/icon/tag-sale.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
          }
          .badgeNew{
            font-size: 11px;
            font-weight: 600;
            padding: 5px;
            border: 1px solid #dadada;
          }
        }
      }
    }
  }
}