@import "../helpers/variable";

.mySwiperProduct{
    position: relative;
    .swiper-wrapper{
        width: 320px;
        margin: unset;
        .swiper-slide{
            width: 100%;
            padding: 0px 0%;
        }
    }
   
}

.listProduct {
  .swiper-button-next{
    display: none;
  }
  .swiper-button-prev{
    display: none;
  }
}

.bannerAccessory{
  .swiperBannerAccessory{
    .swiper-pagination{
      .swiper-pagination-bullet{
        width: 20px ;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #2023e6;
      }
      
    }
  }
}

.stylePagination{
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  background: rgb(0, 0, 0);
  padding: 13px 17px;
  margin: 0 10px ;
  border-radius: 50%;
  margin-bottom: 20px;
  font-weight: 600;
  &:hover{
    cursor: pointer;
  }
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 20px !important;
}
