


.blogProduct{
  margin-bottom: 70px;
  font-family: 'Roboto',sans-serif;
  .layoutListProduct{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    .cardBlog{
        width: 22%;
        height: 320px;
        background-color: aliceblue;
    }
    .ml{
      margin-left: 20px;
    } 
  }
}