@import '../../../assets/helpers/variable';

.login {
  font-family: 'Roboto',sans-serif;
  background-image: url('../../../assets/images/background-login.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 17px);
  .loginFrame{
    width: 30%;
    height: auto;
    background-color: $text-main-color;
    box-shadow: 1px 2px 4px #dadada;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    .formLogin{
      width: 90%;
      height: auto;
      padding: 40px 5%;
    
      // background-color: aqua;
      .rowHead{
        width: 100%;
        margin-bottom: 20px;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // background-color: #dadada;
        .logo{
          padding: 4px 0;
          .layoutImage{
            .image{
              background-image: url('../../../assets/images/logo.webp');
              width: 35px;
              height: 35px;
              border-radius: 50%;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }
          }
          .name{
            text-align: center;
            margin-top: 5px;
            font-size: 11px;
            font-weight: 600;
          }
          
        }
        .nameForm{
          font-size: 26px;
          margin: 0px 0;
        }
      }
      .rowField{
        width: 100%;
        // background-color: #dadada;
        padding: 11px 0;
        .field{
          width: 100%;
          .fieldInput{
            width: 100%;
            padding: 12px 10px;
            box-sizing: border-box;
            overflow: hidden;
            font-size: 12px;
            border: 1px solid #E4E4E4;
            border-radius: 2px;
            background-color: #f8f8f8;
            outline: none;
          }
          .btnLogin{
            width: 100%;
            padding: 9px 0;
            font-size: 14px;
            background-color: #3b6dda;
            color: #ffffff;
            border: none;
            border-radius: 2px;
          }
        }
      }
      .rowAction{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .forgot{
          a{
            font-size: 12px;
            text-decoration: none;
            color: #3b6dda;
          }
        }
      }
      .line{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        color: #757070;
        font-size: 14px;
        .li{
          width: 43%;
          height: 1px;
          background-color: #757070;
        }
      }
      .rowSocial{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btnSocial{
          padding: 8px 20px;
          width: 35%;
          border: 1px solid #464343;
          background-color: transparent;
          border-radius: 3px;
          font-size: 14px;
          display:inline-flex;
          &:hover{
            cursor: pointer;
          }
          .icons{
            width: 25px;
            height: 25px;
            border-radius: 50%;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
          .fb{
            background-image: url('../../../assets/icon/facebook.webp');
          }
          .gg{
            background-image: url('../../../assets/icon/google.webp');
          }
          .txt{
            height: 25px;
          }
        }
      }
      .rowRegister{
        padding: 20px 0;
        font-size:12px;
        text-align: start;
      }
    }
  }
}