/* ShoppingCart.module.scss */
.cartContainer {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #f9f9f9;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cartItem:last-child {
  border-bottom: none;
}

.itemDetails {
  display: flex;
  flex-direction: column;
}

.itemDetails h4 {
  margin: 0 0 5px;
  font-size: 18px;
  color: #333;
}

.itemDetails p {
  margin: 0;
  color: #666;
}

.itemPrice {
  font-size: 16px;
  color: #333;
}
