

@import '../../../../../assets/helpers/variable';
.listProduct{

  font-family: "Roboto",sans-serif;
  margin-top: 150px;
  .titleSection{

    // text-align: center;
    font-size: 40px;
    .titleBrand{
      color: #726a6a;
    }
  }
  .desSection{
    // text-align: center;


  }
  .multiSearch{
    margin-top: 20px;
    .filterOption{
      .itemSearch{
        width: 45%;
        .monitor{
          width: 100%;
          padding: 12px 5px;
          background-color: #f4f1f5e4;
          color: #000000;
          font-size: 12px;
          border-radius: 3px;
          outline: none;
          font-weight: bold;
        }
      }
    }
    .sortPrice{
      width: 12%;
      .titleOption{
        font-size: 14px;
      }
      .groupBtn{

        .btnSort{
          padding: 10px 15px;
          margin-left: 10px;
          font-size: 17px;
        }
      }
    }
  }

  .mainListProducts{
    width: 100%;
    height: auto;
    
  
    .grid{
      margin-top: 40px;
      width: 100%;
      display: grid;
      grid-template-columns: 22% 22% 22% 22% ;
      grid-gap: 4%;
      padding-left:0;
      .cardProduct{
        width: 100%;
        height: auto;
        padding: 40px 20px;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding-bottom: 60px;
        position: relative;
        &:hover{
          cursor: pointer;
        }
        .logoBrand{
          width: 25px;
          height: 25px;
          border: 50%;
          position: absolute;
          top: 10px ;
          right: 5%;
          z-index: 1;
        }
        .image{
          width: 100%;
          height: max-content; 
          position: relative;
        }
        .shortInfo{
          
          .title{
            text-align: start;
            font-size: 16px;
          }
      
          .price{
            font-size: 13px;
            color:rgb(49, 44, 44);
            font-weight: 600;
          }
          .day{
            font-size: 13px;
          }
          .groupBtn{
            .btn{
              color: $text-main-color;
              border-radius: 5px;
              padding: 10px 18px;
              border: none;
              transition: all ease-in 0.2s;
              &:hover{
                opacity: 0.8;
                cursor: pointer;
              }
            }
            .buy{
              background-color: rgb(26, 25, 25) ;
            
            }
            .addCart{
              background-color: #ec80fa;
            }
          }
          
        }

      }

    }
    .listBtnPagination{
      margin-top: 40px;
      .groupBtn{
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn{
          border:1px solid #0a0a0a;
          color: #0a0a0a;
          font-size: 12px;
          font-weight: 600;
          padding: 15px;
          background-color: #ffffff;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }


  }



}