/* styles/Gift.module.scss */
.titlepage{
  font-size: 28px;
}
.titleSection{
  font-size: 22px;
}
.videoBackground {
  
  width: 100%;
  height: 100%;
  z-index: 1; // Đảm bảo video nằm dưới nội dung khác
  object-fit: cover; // Đảm bảo video bao phủ toàn bộ khu vực mà không bị méo
  pointer-events: none; // Ngăn không cho người dùng tương tác trực tiếp với video
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  font-family: 'Roboto',sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
}

.header {
  // background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.introduction {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.features {
  margin-top: 20px;
  background-color: #fafafa;
  // padding: 20px;
  border-radius: 8px;

  h2 {
    color: #333;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 10px 0;
    }
  }
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    // width: calc(33% - 10px);
    // margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
}

.testimonials {
  margin-top: 20px;
  background-color: #e9ecef;
  padding: 20px;
  font-style: italic;
  border-left: 5px solid #007bff;
}

.contact {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 20px;

  h2 {
    color: #007bff;
  }
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  color: #fff;
  margin-top: 20px;
}


////////////
/// 
/// 
/// 
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.galleryItem {
  position: relative;
  width: calc(50% - 10px);
  margin-bottom: 20px;

  &:hover .overlay {
    opacity: 1;
  }
}

.galleryImage {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.galleryTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.galleryDescription {
  font-size: 1rem;
}


////////////
/// 
/* styles/CartItem.module.scss */
// Ví dụ trong styles/GiftPage.module.scss
.cartItemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}


.cartItem {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.productImage {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 5px;
}

.productDetails {
  flex-grow: 1;
}

.productName {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.productPrice {
  font-size: 1rem;
  color: #666;
}

.addButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}
