.groupContact {
  position: fixed;
  left: -2%;
  bottom: 70px;
  z-index: 1000;
  .listContact {
    list-style: none;
    .icons {
      background-color: aliceblue;
      padding: 10px;
      margin-top: 12px;
      width: fit-content;
      border-radius: 50%;

      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -webkit-animation: devvn_zoom 1.5s infinite linear;
      -moz-animation: devvn_zoom 1.5s infinite linear;
      -o-animation: devvn_zoom 1.5s infinite linear;
      animation: devvn_zoom 1.5s infinite linear;
      box-shadow: 0 0 0 0 #1cb2ed;

      .icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 32px;
        height: 32px;

        -webkit-animation: calltrap_spin 3s infinite linear;
        -moz-animation: calltrap_spin 3s infinite linear;
        -o-animation: calltrap_spin 3s infinite linear;
        animation: calltrap_spin 3s infinite linear;
      }

      @-webkit-keyframes devvn_zoom {
        70% {
          box-shadow: 0 0 0 15px transparent;
        }
        100% {
          box-shadow: 0 0 0 0 transparent;
        }
      }
      @keyframes devvn_zoom {
        70% {
          box-shadow: 0 0 0 15px transparent;
        }
        100% {
          box-shadow: 0 0 0 0 transparent;
        }
      }
      @-webkit-keyframes calltrap_spin {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        30% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        33% {
          -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        36% {
          -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        39% {
          -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        42% {
          -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        45% {
          -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        48% {
          -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
          opacity: 1;
        }
        51% {
          -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        54% {
          -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        57% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
      @-moz-keyframes calltrap_spin {
        0% {
          -moz-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        30% {
          -moz-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        33% {
          -moz-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        36% {
          -moz-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        39% {
          -moz-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        42% {
          -moz-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        45% {
          -moz-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        48% {
          -moz-transform: rotate(10deg);
          transform: rotate(10deg);
          opacity: 1;
        }
        51% {
          -moz-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        54% {
          -moz-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        57% {
          -moz-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
      @-o-keyframes calltrap_spin {
        0% {
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        30% {
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        33% {
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        36% {
          -o-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        39% {
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        42% {
          -o-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        45% {
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        48% {
          -o-transform: rotate(10deg);
          transform: rotate(10deg);
          opacity: 1;
        }
        51% {
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        54% {
          -o-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        57% {
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
      @keyframes calltrap_spin {
        0% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        30% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        33% {
          -webkit-transform: rotate(-10deg);
          -moz-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        36% {
          -webkit-transform: rotate(10deg);
          -moz-transform: rotate(10deg);
          -o-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        39% {
          -webkit-transform: rotate(-10deg);
          -moz-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        42% {
          -webkit-transform: rotate(10deg);
          -moz-transform: rotate(10deg);
          -o-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        45% {
          -webkit-transform: rotate(-10deg);
          -moz-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        48% {
          -webkit-transform: rotate(10deg);
          -moz-transform: rotate(10deg);
          -o-transform: rotate(10deg);
          transform: rotate(10deg);
          opacity: 1;
        }
        51% {
          -webkit-transform: rotate(-10deg);
          -moz-transform: rotate(-10deg);
          -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
        }
        54% {
          -webkit-transform: rotate(10deg);
          -moz-transform: rotate(10deg);
          -o-transform: rotate(10deg);
          transform: rotate(10deg);
        }
        57% {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
      .zaloIcons {
        background-image: url("../../../assets/icon/zalo.webp");
      }
      .messengerIcons {
        background-image: url("../../../assets/icon/messenger.webp");
      }
      .telegramIcons {
        background-image: url("../../../assets/icon/telegram.webp");
      }
      a {
        text-decoration: none;
      }
    }
  }
}
