


.blog{
  font-family: 'Roboto',sans-serif;

  .breadCumbs{
    margin: 40px 0;
    .titleMain{
      text-align: center;
      font-size: 30px;
    }
  }
  .section{
    display: flex;
    justify-content: space-between;
    
    .listblog{
      width: 100%;
     
      .head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dadada;
        .titlePage{
          text-align: start;
          font-size: 22px;
        }
        .tabCategory{
          display: flex;
          .item{
            padding: 10px 25px;
            border: none;
            margin:  0 4px;
            border-radius: 4px;
            background:  #0555b0 ;
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            &:hover{
              cursor: pointer;
            }
          }
        }
        .search{
          position: relative;
          .inputSearch{
            padding: 10px 20px;
            border-radius: 20px;
            outline: none;
            border: 1px solid #dadada;
          }
          .iconSearch{
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
      }
      
      .listItem{
        display: grid;
        grid-template-columns: 31.5% 31.5% 31.5% ;
        grid-template-rows: max-content;
        gap: 2.75%;
        margin-top: 30px;
        height: fit-content;
        margin-bottom: 80px;
        a{
          text-decoration: none;
          color: #000000;
          .cardBlog{
            border: 1px solid #dadada;
            border-radius: 8px;
            box-sizing: border-box;
            overflow: hidden;
            padding-bottom: 6px;
            // height: 600px;
            .image{
              border-radius: 8px;
              box-sizing: border-box;
              overflow: hidden;
            }
            .contentBlog{
              padding: 8px 20px;
              .titleBlog{
                font-size: 18px;
                margin: 4px 0 ;
                font-weight: 600;
              }
              .shortContent{
                font-size: 15px;
                line-height: 1.6em;
                text-align: justify;
                margin: 4px 0;
                color: #646161;
              }
            }
            .contentBottom{
              padding: 8px 20px;
              display: flex;
              justify-content: space-between;
              // margin-bottom: 8px;
              .left{
                .readMore{
                  background-color: #084182;
                  margin: 3px 0 ;
                  font-size: 15px;
                  // font-weight: 600;
                  color: #ffffff;
                  padding: 10px 20px;
                  border-radius: 4px;
                  font-size: 13px;
                  &:hover{
                    cursor: pointer;
                  }
                }
              }
              .right{
                .createTime{
                  margin: 3px 0 ;
                  font-size: 15px;
                  
                }
              }
            }
          }
        }
        
        // flex-wrap: wrap;
      }

      .pagination{
        .groupPagination{
          
          .btnPn{
            padding: 10px  15px;
            border: none;
            margin: 8px;
            border-radius: 5px;
          }
          .active{
            background-color:#000000;
            color: #ffffff;
          }
        }
      }
    }
  }
}