/* Bao quanh nội dung từ Quill */
.blogPost {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #333;
  line-height: 1.8;
  // padding: 10px 6%;
  // width: 88%;
}

.blogPost .titleBlog .titleH1 {
  margin: 0 ;
  color: #0056b3;
}

/* Định dạng đoạn văn */
.blogPost p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 18px;
  color: #444;
  text-align: justify;
}

/* Định dạng tiêu đề */
.blogPost h1, .blogPost h2, .blogPost h3, .blogPost h4, .blogPost h5, .blogPost h6 {
  color: #222;
  font-weight: 700;
  margin-bottom: 15px;
}

.blogPost h1 { font-size: 30px; }
.blogPost h2 { font-size: 26px; }
.blogPost h3 { font-size: 24px; }
.blogPost h4 { font-size: 20px; }
.blogPost h5 { font-size: 18px; }
.blogPost h6 { font-size: 16px; }

/* Định dạng danh sách */
.blogPost ul, 
.blogPost ol {
  margin-left: 25px;
  margin-bottom: 18px;
  list-style-position: inside;
}

.blogPost ul li, 
.blogPost ol li {
  padding: 8px 0;
  line-height: 1.6;
  font-size: 16px;
}

/* Định dạng in đậm và in nghiêng */
.blogPost strong {
  font-weight: bold;
}

.blogPost em {
  font-style: italic;
}

/* Định dạng blockquote */
.blogPost blockquote {
  padding-left: 20px;
  border-left: 4px solid #007BFF;
  color: #555;
  font-style: italic;
  background-color: #f9f9f9;
  margin: 25px 0;
}

/* Định dạng hình ảnh */
.blogPost img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 25px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Định dạng liên kết */
.blogPost a {
  color: #007BFF;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.blogPost a:hover {
  color: #0056b3;
}

/* Định dạng code */
.blogPost code {
  background-color: #f4f4f4;
  padding: 3px 6px;
  font-size: 90%;
  border-radius: 3px;
  color: #d63384;
}

/* Định dạng pre */
.blogPost pre {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  overflow-x: auto;
  margin: 25px 0;
  line-height: 1.5;
  color: #333;
}

/* Định dạng bảng */
.blogPost table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 16px;
}

.blogPost th, 
.blogPost td {
  border: 1px solid #ddd;
  padding: 10px;
}

.blogPost th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: left;
}

.blogPost tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Định dạng cho các phần tử bảng nâng cao */
.blogPost thead {
  background-color: #e9ecef;
}

.blogPost tbody tr:hover {
  background-color: #f1f1f1;
}





/*Style Guide cho Nút */
.blogPost button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  &:hover{
    background-color: #2980b9;
  }
}

