

.blogContainer{
  font-family: 'Roboto' ,sans-serif;
 
  .mainBlog{
    display: flex;
    // width: 100%;
    // padding:  0;
    padding-top: 10px;
    .blogs{
      width: 75%;
      .headBlog{
        
        // width: 88%;
        // padding: 10px 6%;
        
        
        .breakCumbs{
          
        }
      }
      .report{
        .shares{
          padding: 10px 0;
          display: flex;
          gap:10px;
          .social{
            padding: 4px 6px;
            border: 1px solid #0e0e0e;
            border-radius: 4px;
            
          }
        }
        .detailPost{
          gap: 20px;
          // width: 88%;
          // padding: 10px 6%;
          font-size: 16px;
          .share{
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
      
    }
    .related{
      width: 25%;
    }
  }
  
}
