

.productCategory{
  font-family: 'Roboto',sans-serif;
  margin-top: 70px;
  .titleSection{
    font-size: 38px;
    font-weight: 600;
    text-align: center;

  }
  .contentLayout{
    margin-top: 80px;
    .products{
      .itemProduct{
        width: 25%;
        height: 120px;
        .nameProduct{
          font-size: 26px;
          font-weight: 600;
          text-align: center;
          margin-top: 18px ;
          padding: 2px;
          
        }
        .gen{
          padding: 2px;
          text-align: center;
          color: rgb(104, 107, 110);
        }
        .image{
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        .airG2{
          background-image: url('https://www.apple.com/v/airpods/shared/compare/d/images/compare/compare_airpods_2nd_gen__fw52r8rxrpyu_large_2x.png');
        }
        .airG3{
          background-image: url('https://www.apple.com/v/airpods/shared/compare/d/images/compare/compare_airpods_3rd_gen__dyuzfy04ht0m_large_2x.png');
        }
        .airProG2{
          background-image: url('https://www.apple.com/v/airpods/shared/compare/d/images/compare/compare_airpods_pro__e9uzt0mzviem_large_2x.png');
        }
        .airMax{
          background-image: url('https://www.apple.com/v/airpods/shared/compare/d/images/compare/compare_airpods_max__b14s2x6q07rm_large_2x.png');
        }
        
      }
    }
  }
}