/* BankAccount.module.scss */
.bankAccountContainer {

  border-radius: 10px;
  padding: 20px;
  // max-width: 400px;
  margin: 20px auto;
  // background-color: #f9f9f9;
}

.bankAccountDetails {
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.bankAccountDetails h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #333;
}

.bankAccountDetails p {
  margin: 5px 0;
  color: #666;
}
