

.benefitPartner{
  font-family: 'Roboto',sans-serif;
  margin-bottom: 80px;
  .titleSection{
    text-align: center;
    font-size: 37px;
  }
  .line{
    width: 70px;
    height: 3px;
    background-color: rgb(7, 78, 177);
    border-radius: 4px;
  }
  .sectionShowCase{
    .listBenefit{
      .rowBenefit{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        .itemBenfit{
          display: flex;
          justify-content: space-between;
          
          width: 45%;
          .icons{
            .imageIcon{
                margin-top: 10px;
                width: 40px;
                height: 40px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .icSetting{
              background-image: url('../../../../../assets/icon/partner/setting.webp');
            }
            .icResearch{
              background-image: url('../../../../../assets/icon/partner/research.webp');
            }
            .icAnalytics{
              background-image: url('../../../../../assets/icon/partner/analytics.webp');
            }
            .icManage{
              background-image: url('../../../../../assets/icon/partner/manage.webp');
            }
            .icGrowth{
              background-image: url('../../../../../assets/icon/partner/growth.webp');
            }
          }
          .contentBenefit{
            padding: 0px  10px;
            .titleBenefit{
              font-size: 26px;
              font-weight: 400;
              margin: 12px 0;
            }
            .desBenefit{
              font-size: 18px;
              line-height: 2rem;
              color: rgb(64, 66, 67);
              margin: 12px 0;
            }
          }
        }
      }
    }
  }
}