
@import "../../../../../assets/helpers/variable";

.benefit{
  font-family: 'Roboto',sans-serif;
  margin-top: 60px;
  &Title{
    font-size: 30px;
  }
  &Content{

   
    .listBenefit{
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media #{$media-small-phone} {
          flex-direction: column;
      }
      @media #{$media-ipad} {
          flex-direction: unset;
          flex-wrap: wrap;
      }
      .benefitItem{
        background-color: rgba(241, 240, 239, 0.692);
        border-radius: 6px;
        padding: 10px 20px;
        max-width: 18%;
        height: 120px;
        // box-shadow: 2px 4px 12px #00000014;
        cursor: pointer;
        @media #{$media-small-phone} {
            max-width: 100%;
            margin-top: 20px;
            
        }
        @media #{$media-ipad} {
            max-width: 18%;
            margin-top: unset;
        }
        .titleItem{
          font-size: 16px;
          color: #064d7f;
        }
        .desItem{
          font-size: 13px;
          word-wrap: break-word;
          line-height: 1.7;
        }


      }

    }
  }
}