

.related{
  height: 100%;
  background-color: rgba(255, 255, 255, 0.675);
  // color: #ffffff;
  // border-bottom-left-radius: 80px;
  // box-shadow: 1px 2px 4px #a5a4a4;
  .title{
    margin: 0;
    text-align: start;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 40px;
    font-weight: 600;
  }
  .listBlog{
    margin: 0;
    list-style: none;
    padding: 0px 0px 30px 30px;
    .itemBlog{
      padding: 10px 0;
      border-bottom: 1px solid #dadada;
      margin-top: 20px;
      .groupTitle{
        display: flex;
        
        .nameBlog{
          text-align: start;
          a{
            text-decoration: none;
            display: inline;
            color:  #000;
            font-size: 18px;
            font-weight: 600;
          }
          
        }
      }
     .shortDes{
      // font-style: italic;
      color: #5e5a5a;
      font-size: 15px;
      line-height: 1.5em;
      margin: 6px 0;
     }
      .infoBlog{
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        padding-left: 5px;
        .auth{
          font-size: 15px;
          color: #0a56a2;
          &:hover{
            cursor: pointer;
          }
          // font-weight: bold;
        }
        .time{
          font-size: 15px;
          font-style: italic;
          color: #7f7e7e;
        }
      }
    }
  }
}