

.processTest{
  font-family: 'Roboto',sans-serif;
  margin: 40px 0;
  .title{
    font-size: 40px;
  }
  .step{
    .nameStep{
      display: inline-flex;
      font-size: 26px;
      .divider{
        width: 5px;
        // height: 15px;
        background-color: #0753b6;
        border-radius: 3px;
        margin-right: 6px;

      }
    }
    .desStep{
      margin-top: 0;
      background-color: #f5f7f9d4;
      padding: 14px 30px;
      border: 1px solid #dadada;
      font-size: 16px;
      line-height: 160%;
      border-radius: 6px;
      color: #565454;
      // font-style: italic;
    }
    .list{
      list-style: none;
      padding-left: 10px;
      .item{
        padding: 12px 0;
        line-height: 160%;
        display: inline-flex;
        .icon{
          padding-top: 1px;
          
        }
        .text{
          margin-left: 4px;
        }
        
      }
    }
  }
}