

.newNotice{
  color: #ffffff;
  font-family: 'Roboto',sans-serif;
  .notice{
    background-color: rgb(245, 113, 161);
    padding: 20px 30px;
    border-radius: 15px;
    display: flex;
    .content{
      margin-left: 15px;
      .title{
        margin-top: 5px;
        margin-bottom: 4px;
      }
      .details{
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 4px;
        .btnGetNow{
          padding: 8px 14px;
          // padding-bottom: 0;
          background-color: #ef0b0b;
          text-decoration: none;
          border-radius: 3px;
          color: #ffffff;
          font-size: 13px;
        }
      }
    }
    .image{
      width: 80px;
      height: 80px;
      .img{
        background-image: url('../../../../../assets/icon/services/bell.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
      }

    }
  }
}