

.listCategory{
    font-family: 'Roboto',sans-serif;

    .listItem{

        .menu{
          width: 100%;
          list-style: none;
          .item{

              .link{
                text-decoration: none;
                color: #333;
                .ip15Pro{
                  width: 38px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/iphone/home/bu/images/chapternav/iphone_15_pro_light__diyvo6c7yu82_large.svg");
                }
                .ip14{
                  width: 38px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/iphone/home/bu/images/chapternav/iphone_14_light__fwknsxkf80uq_large.svg");
                }
                .ip13{
                  width: 22px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/iphone/home/bu/images/chapternav/iphone_13_light__ewo3e0sf67o2_large.svg");
                }
                .ipSE{
                  width: 19px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/iphone/home/bu/images/chapternav/iphone_se_light__fhg8duy6ffau_large.svg");
                }
                .ios{
                  width: 32px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/iphone/home/bu/images/chapternav/iphone_ios_light__b8s4ws8o77iq_large.svg");
                }

                .airTag{
                  width: 30px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/iphone/home/bu/images/chapternav/airtag_light__cb2bmnv6aoeu_large.svg");
               
                  
                }
                .icon{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .label{
                  text-align: center;
                  margin-top: 0;
                  margin-bottom: 0px;
                  padding: 0px ;
                  font-size: 12px;
                  font-weight: 600;
                }
                .new{
                  text-align: center;
                  padding: 0;
                  margin-top: 3px;
                  font-size: 10px;
                }

                &:hover{
                  cursor: pointer;
                  opacity: 0.6;
                  transition: all 0.2s ease-in;
                }
              }

          }
        }

    }

}