

.listCategory{
    font-family: 'Roboto',sans-serif;

    .listItem{

        .menu{
          width: 100%;
          list-style: none;
          .item{

              .link{
                text-decoration: none;
                color: #333;
                .airG2{
                  width: 32px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/airpods/u/images/chapternav/airpods_2gen_light__ckwbqlgv1r9e_large.svg");
                }
                .airProG3{
                  width: 34px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/airpods/u/images/chapternav/airpods_3gen_light__6r7zooyk4lua_large.svg");
                }
                .airProG2{
                  width: 39px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/airpods/u/images/chapternav/airpods_pro_light__ets5a19rt3au_large.svg");
                }
                .airmax{
                  width: 34px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/airpods/u/images/chapternav/airpods_max_light__cvaaddhgazqu_large.svg");
                }
                .appleMusic{
                  width: 32px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/airpods/u/images/chapternav/apple_music_light__fexraacz3dme_large.svg");
                }
                .icon{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .label{
                  text-align: center;
                  margin-top: 0;
                  margin-bottom: 0px;
                  padding: 0px ;
                  font-size: 12px;
                  font-weight: 600;
                }
                .new{
                  text-align: center;
                  padding: 0;
                  margin-top: 3px;
                  font-size: 10px;
                }

                &:hover{
                  cursor: pointer;
                  opacity: 0.6;
                  transition: all 0.2s ease-in;
                }
              }

          }
        }

    }

}