@import '../../../../../assets/helpers/variable';

.banner{
  padding: 40px 0;
  font-family: 'Roboto',sans-serif;
  @media #{$media-small-phone} {
    display: unset;
  }
  @media #{$media-ipad} {
    display: flex;
  }
  .titleBanner{
    
    font-display: swap;
    @media #{$media-small-phone} {
      font-size: 28px;
    }
    @media #{$media-ipad} {
      font-size: 42px;
    }
    .txtColor{
      color: rgba(73, 71, 71, 0.592);
      
    }
  }
  
  .layoutBanner{
    @media #{$media-small-phone} {
      width: 90%;
    }
    @media #{$media-ipad} {
      width: 50%;
    }
    .support{
      .pbx{
        .installment{
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 8px;
        }
        .support{
          display: flex;
          margin-bottom: 10px;
          .image{
            background-image: url('../../../../../assets/icon/home/support.webp');
            width: 30px;
            height: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .txt{
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(43, 82, 210);
          }
        }
        .contact{
          padding: 10px 20px ;
          border: none;
          border-radius: 6px;
          background-color: rgb(6, 87, 158);
          color: #ffffff;
        }
      }
    }
  }
}