

.bannerAccessory{
  font-family: 'Roboto',sans-serif;
  .swiperBannerAccessory{
    .mainSlideAccessory{
      width: 100%;
      height: 350px;
      position: relative;
      .contentBanner{
        width: 280px;
        position: absolute;
        top: 40px;
        right: 10%;
        text-align: right;
        .titleBanner{
          font-size: 38px;
        }
        .desBanner{
          font-size: 20px;
        }
        a{
          .btnBuyAccessory{
              padding: 12px 25px;
              border: none;
              background-color: rgb(8, 130, 236);
              color: #ffffff;
              border-radius: 5px;
              transition: all ease-in 0.2s ;
              &:hover{
                cursor: pointer;
                background-color: #0d42d4;
              }
          }
        }
      }
    }
  }
}

.stylePagination {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
