
@import '../../../../../assets/helpers/variable';

.introduceSystem{

  font-family: 'Roboto',sans-serif;
  .titlePage{
    font-size: 40px;
  }

  .layoutContent{


  }

  .serviceProvide{

    .titleService{
      font-size: 30px;
    }
    .contentService{

    }
  }
}
