

.productCategory{
  font-family: 'Roboto',sans-serif;
  margin-top: 70px;
  .titleSection{
    font-size: 38px;
    font-weight: 600;
    text-align: center;

  }
  .contentLayout{
    margin-top: 80px;
    .products{
      .itemProduct{
        width: 25%;
        height: 120px;
        .nameProduct{
          font-size: 26px;
          font-weight: 600;
          text-align: center;
          margin-top: 18px ;
          padding: 2px;
          
        }
        .gen{
          padding: 2px;
          text-align: center;
          color: rgb(104, 107, 110);
        }
        .image{
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        .pro15{
          background-image: url('https://www.apple.com/v/iphone/home/bu/images/overview/select/iphone_15_pro__bpnjhcrxofqu_large_2x.png');
        }
        .ip15{
          background-image: url('https://www.apple.com/v/iphone/home/bu/images/overview/select/iphone_15__fm75iyqlkjau_large_2x.png');
        }
        .ip14{
          background-image: url('https://www.apple.com/v/iphone/home/bu/images/overview/select/iphone_14__cjgvgyn9cquu_large_2x.png');
        }
        .ip13{
          background-image: url('https://www.apple.com/v/iphone/home/bu/images/overview/select/iphone_13__gnwdyqfq7i2y_large_2x.png');
        }
        .ipSE{
          background-image: url('https://www.apple.com/v/iphone/home/bu/images/overview/select/iphone_se__gmvp19w01mum_large_2x.png');
        }
        
      }
    }
  }
}