// @tailwind base;

// @tailwind components;

// @tailwind utilities;

body{
  padding:0;
  margin: 0;
  font-family: 'Roboto',sans-serif;
}

@import "../../src/assets/scss/lib.scss";
@import "../../src/assets/scss/style.scss"; 