

.brandSection{
  font-family: 'Roboto',sans-serif;
  .title{
    font-size: 26px;
    // font-weight: 400;
    margin-bottom: 0;
  }
  .des{
    line-height: 160%;
    color: #3a3939;
    font-size: 16px;
    margin-top: 6px;
  }
  .groupBrandLaptop{
    display: flex;
    justify-content: flex-start;
  
    align-items: center;
    margin-top: 18px;

    flex-wrap: wrap;
    gap: 20px;
    .logoBrand{
      width: 160px;
      height: 80px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border: 1px solid #dadada;
      border-radius: 4px;
    }
    .icons{
      font-size: 26px;
      color: #0b75ef;
    }
    .hp{
      background-image: url('../../../../..//assets/images/services/hp-logo.webp');
    }
    .assus{
      background-image: url('../../../../..//assets/images/services/asus-logo.webp');
    }
    .mac{
      background-image: url('../../../../..//assets/images/services/mac-logo.webp');
    }
    .lenovo{
      background-image: url('../../../../..//assets/images/services/lenovo-logo.webp');
    }
    .msi{
      background-image: url('../../../../..//assets/images/services/msi-Logo.webp');
    }
    .surface{
      background-image: url('../../../../..//assets/images/services/surface-logo.webp');
    }
    .dell{
      background-image: url('../../../../..//assets/images/services/dell-logo.webp');
    }
    // .ml{
    //   margin-left: 12px;
    // }
   
  }
}