

.successStory{
  font-family: 'Roboto',sans-serif;
  margin-bottom: 180px;

  .titleSection{
    text-align: center;
    font-size: 38px;
  }
  .contentSuccessStory{
    .quotes{
      padding: 10px 0%;
      .quote{
          width: 40%;
          height: 120px;
          display: flex;
          padding-top: 10px;
          .imageProfile{
              width: 20%;
              height: 100%;
              .image{
                  margin-top: 30px;
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
              }
              .image0{
                  background-image: url('../../../../../../public/assets/partner/tsp-profile.webp');
              }
              .image1{
                  background-image: url('../../../../../../public/assets/partner/shsoft-profile.webp');
              }
          }
          .info{
              width: 80%;
              height: 100%;
              padding-left: 20px;
              .name{
                  font-size: 32px;
                  font-weight: 600;
              }
              .pos{
                  margin-top: 8px;
                  font-size: 13px;
              }
              .content{
                  word-wrap: break-word;
                  margin-top: 10px;
                  font-size: 16px;
                  text-align: start;
                  line-height: 1.6;
                  font-style:italic;
                  font-family: 'roboto',sans-serif;
                  color: #666363;
              }
          }
      }
    }
  }
} 