

@import '../../../../../assets/helpers/variable';
.listProduct{

  font-family: "Roboto",sans-serif;
  .titleSection{

    // text-align: center;
    font-size: 40px;
  }
  .desSection{
    // text-align: center;
  }
  .multiSearch{
    margin-top: 20px;
    .filterOption{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap:20px;
      .itemSearch{

        width: 12.96%;
        .monitor{
          width: calc(100% - 12px);
          padding: 12px 5px;
          background-color: #fbfbfbd2;
          color: #000000;
          font-size: 11px;
          border-radius: 3px;
          outline: none;
          font-weight: bold;
          text-align: start;
          &:hover{
            cursor: pointer;
          }
        }
        .btnSearch, .btnSort{
          text-align: start;
          // font-size: 28px;
          width: calc(100% - 12px);
          font-size: 11px;
          border-radius: 3px;
          outline: none;
          padding: 14px 20px;
          border: none;
          color: #ffffff;
        }

        .btnSearch{
          background-color: #086bc8;
        }

        .btnSort{
          background-color: #595955;
        }
      }
    }
    
  }

  .mainListProducts{
    width: 100%;
    height: auto;
    .grid{
      margin-top: 40px;
      width: 100%;
      display: grid;
      grid-template-columns: 22% 22% 22% 22% ;
      grid-gap: 4%;
      padding-left:0;
      .cardProduct{
        width: 100%;
        height: auto;
        padding: 40px 20px;
        box-sizing: border-box;
        overflow: hidden;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        // border:  1px solid #dedcdc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          .image {
            transform: scale(1.05);
          }
        }
        .logoBrand{
          width: 25px;
          height: 25px;
          border: 50%;
          position: absolute;
          top: 10px ;
          right: 5%;
        }
        .image{
          width: 100%;
          transition: transform 0.3s ease;
        }
        .shortInfo{
          
          .title{
            text-align: start;
            font-size: 16px;
          }
      
          .price{
            font-size: 13px;
            color:rgb(49, 44, 44);
            font-weight: 600;
          }
          .day{
            font-size: 13px;
          }
          .groupBtn{
            .btn{
              color: $text-main-color;
              border-radius: 5px;
              padding: 10px 18px;
              border: none;
              transition: all ease-in 0.2s;
              border: 1px solid #000000 ;
              
              &:hover{
                opacity: 0.8;
                cursor: pointer;
                
              }
            }
            .buy{
              background-color: rgb(26, 25, 25) ;
              &:hover{
                background-color: #ffffff;
                color: #000000;
                border: 1px solid #000000 ;
              }
            
            }
            .addCart{
              background-color: #ec80fa;
            }
          }
          
        }

      }

    }
    .listBtnPagination{
      margin-top: 40px;
      .groupBtn{
        width: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn{
          border:1px solid #0a0a0a;
          color: #0a0a0a;
          font-size: 16px;
          font-weight: 600;
          padding: 15px 20px;
          background-color: #ffffff;
          border-radius: 5px;
          cursor: pointer;
          margin: 0 10px;
        }
        .active{
          background-color: #000000;
          color: #ffffff;
        }
      }
    }


  }



}
.noProducts {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  color: #666;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.noProducts img {
  width: 100px;  // Thay đổi kích thước theo nhu cầu
  height: auto;
  margin-bottom: 20px;
}
