

.feedbackForm{
  font-family: 'Roboto',sans-serif;

  .gridFeedback{
    .titleFeedback{

    }
    .frameItem{
      border-radius: 10px;
      padding: 10px 20px;
      border: 1px solid #dadada;
      .rowItem{
        display: flex;
        justify-content: space-between;
        .item{
          display: flex;
          font-size: 16px;
          color: #5f5b5b;
          .ckb{
            background-color: #dadada;
          }
        }
        
      }
    }
   
  }
}