
@import '../../../../../assets/helpers/variable';
.category{
  width: 100%;
  .menu{
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    .itemCategory{
      @media #{$media-small-phone} {
        margin-top: 20px;
      }
      @media #{$media-ipad} {
        
      }
      .nameItem{
        margin-top: 10px;
        a{
          text-decoration: none;
          color: #333;
          font-weight: 600;
          font-family: 'Roboto',sans-serif;
          font-size: 13px;
        }
      }
      
    }
  }
} 