


.errorDeviceSection{
  font-family: 'Roboto',sans-serif;
  margin: 30px 0;
  .title{
    font-size: 26px;
    margin-bottom: 0;
  }
  .des{
    line-height: 160%;
    color: #3a3939;
    font-size: 16px;
    margin-top: 6px;
  }
  .groupDeviceLaptop{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    .itemDevice{
      display: flex;
      border: 1px solid #3c8cee;
      padding: 8px 5px;
      border-radius: 4px;
      .img{
        width: 60px ;
        height: 35px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .charger{
        background-image: url('../../../../../assets/images/services/charger-logo.webp');
      }
      .heatsink{
        background-image: url('../../../../../assets/images/services/heatsink-logo.webp');
      }
      .speakers{
        background-image: url('../../../../../assets/images/services/speakers-logo.webp');
      }
      .main{
        background-image: url('../../../../../assets/images/services/main-logo.webp');
      }
      .face{
        background-image: url('../../../../../assets/images/services/face-logo.webp');
      }
      .keyboard{
        background-image: url('../../../../../assets/images/services/keyboard-logo.webp');
      }
      .battery{
        background-image: url('../../../../../assets/images/services/battery-logo.webp');
      }
      .nameDevice{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    }
    // .ml{
    //   margin-left: 12px;
    // }
  }
}