

@import "../../../../../assets/helpers/variable";

.support {
  font-family: "Roboto",sans-serif;
  margin-top: 60px;
  &Title{
   font-size: 30px;
  }

  &Info{
    width: 100%;
    // padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$media-small-phone} {
      flex-direction: column;
    }
    @media #{$media-ipad} {
      flex-direction: unset;
      flex-wrap: wrap;
    }
    .itemSupport{
      background-color: rgb(242, 243, 245);
      // width: 20%;
      // padding: 20px 10px;
      height: 120px;
      border-radius: 10px;
      @media #{$media-small-phone} {
        width: 100%;
        margin-top: 20px;
        padding: 10px 0;
      }
      @media #{$media-ipad} {
        width: 20%;
        padding: 20px 10px;
      }
      .iconNumber{
        
        .number{
          font-size: 38px;
          color: rgb(10, 40, 173);
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: rgba(150, 182, 241, 0.741);
        }
      }
      .sologan{
        margin-top: 18px;
        text-align: center;
        font-size: 18px;
      }
    }
  }

  .itemSupportSec{
    margin-top: 60px;
    .image{
      width: 44%;
      border-radius: 20px;
      box-sizing: border-box;
      overflow: hidden;
    }
    .content{
      width: 48%;
      .title{
        font-size: 28px;
        color: rgb(7, 82, 169) ;
        width: max-content;
        border-radius: 4px;
        margin-bottom: 3px;
      }
      .underline{
        width: 60px;
        height: 3px;
        background-color: rgb(7, 82, 169) ;
        border-radius: 3px;
      }
      .slogan{
        font-size: 18px;
        font-weight: 500;
      }
      .desSec{
        font-size: 17px;
        color: #4d4949;
        line-height: 160%;
        text-align: justify;
      }
    }
  }

}