

.infoProduct{
  // background-color: #dadada;
  display: flex;
  margin-top: 50px;
  font-family: 'Roboto',sans-serif;
  .technical{
    .technicalTitle{
      margin: 2px 0;
    }
    .line{
      width: 15%;
      background-color: #333;
      border-radius: 20px;
      height: 4px;
    }
  }

  .package{
    padding-left: 50px;
    width: 46%;
    .packageTitle{

      margin: 2px 0;
    }
    .line{
      width: 15%;
      background-color: #333;
      border-radius: 20px;
      height: 4px;
    }
  }
}