

.atStore{
  font-family: 'Roboto',sans-serif;
  .benefit{
    display: flex;
    justify-content: space-between;
    .groupItem{
      background: rgb(244, 246, 246);
      color: #100f0f;
      border-radius: 20px;
      padding: 20px 15px;
      width: 45%;
      .title{
        text-align: center;
        font-size: 26px;
        font-weight: 400;
      }
      .list{
        list-style: none;
        .itemContent{
          font-size: 18px;
          padding: 10px 0;
          font-weight: 300;
        }
      }
    }
  }
}