

.gallery{
  width: 100%;
  position: relative;
  .galeryProduct{
    .imageProduct{
      width: 100%;
      height: 350px;
      border-radius: 15px;
      box-sizing: border-box;
      overflow: hidden;
    }
  }
  .galleryBottom{
    margin-top: 20px;
    .imageProduct{
      height: 100px;
      border-radius: 10px;
      box-sizing: border-box;
      overflow: hidden;
    }
  }
  .listBtnSwiperCustom{
    
    .btnSwiper{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: none;
      background-color: rgba(212, 207, 207, 0.664);
      color: #000000;
      font-size: 22px;
      transition: all ease-in 0.2s;
      &:hover{cursor: pointer;opacity: 0.8;}
    }
    .btnNaviLeft{
      position: absolute;
      top: 35%;
      left: -3.1%;
      z-index: 100;
    }
    .btnNaviRight{
      position: absolute;
      top: 35%;
      z-index: 100;
      right: -3.1%;
    }
  }
  
}