

.searchAccessory{
  font-family: 'Roboto',sans-serif;
  // margin-top: 70px;
  .searchTitle{
    padding: 30px;
    text-align: center;
    font-size: 38px;
  }

  .productCategory{
    padding: 30px 0;
    .listCategory{
      .categoryItem{
        transition: all ease-in 0.2s;
        &:hover{
          cursor: pointer;
          opacity: 0.6;
        }
        .image{
          padding: 8px;
          // width: 80px;
          // height: 80px;
          border: 1px solid #333;
          border-radius: 50%;
          .icon{
            width: 50px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
          .itemMac{
            background-image: url('../../../../../assets/icon/accessory/icon-product-mac.webp');
          }
          .itemIpad{
            background-image: url('../../../../../assets/icon/accessory/icon-product-ipad.webp');
          }
          .itemIphone{
            background-image: url('../../../../../assets/icon/accessory/icon-product-iphone.webp');
          }
          .itemWatch{
            background-image: url('../../../../../assets/icon/accessory/icon-product-watch.webp');
          }
        }
        .nameAccessory{
          margin-top: 10px;
          text-align: center;
        }
        
      }
      
    }
  }
  .searchInput{
    .layoutInput{
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      .inputSearch{
        width: 100%;
        padding: 18px 40px;
        border: 1px solid #424040;
        border-radius: 8px;
        font-size: 18px;
      }
      .iconSearch{
        position: absolute;
        left: 20px;
        top: 35%;
      }

    }
  }
  .contentAccessory{
    .layoutContent{
      display: flex;
      flex-direction: column;
      padding: 50px 0;
      .rowGallery{
        display: flex;
        margin-top: 15px;
        .itemGallery{
          // height: 300px;
          border-radius: 20px; 
          text-align: center;
          margin:4px;
          padding-bottom: 25px;
          .contentGallery{
            .imageGallery{
              width: 100%;
            }
            .layoutInfo50{
              width: 100%;
              display: flex;
              justify-content: space-around;
              .btnBuyAcc{
                .btnB{
                  background-color: #1558e7;
                  color: #ffffff;
                }
              }
             
              
            }
            .layoutInfo30{
              .btnBuyAcc{
                margin-top: 20px;
              }
              .priceProduct{
                margin-top: 15px;
              }
              .nameProduct{
                margin-top: 10px;
              }
            }
            .layoutInfo20{
              color: #ffffff;
              .btnBuyAcc{
                margin-top: 40px;
              }
              .priceProduct{
                margin-top: 20px;
              }
              .nameProduct{
                margin-top: 20px;
              }
            }

            .infoGallery{
              .btnBuyAcc{
               
                .btnB{
                  padding: 8px 18px;
                  border: none;
                  border-radius: 4px;
                }
              }
            }
          }
        }
        .bgWith50{
          background-color: #ecefecd3;
        }
        .bgWith30{
          background-color: #99dcf2;
        }
        .bgWith20{
          background-color: #020202cf;
        }
      }
    }
  }
}