

.mainServices{
  font-family: 'Roboto',sans-serif;
  padding-bottom: 40px;
  .titleService{
    margin-top: 0;
  }
  .groupService{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    .boxService{
      display: inline-flex;
      border: 1px solid #797676;
      padding: 8px 20px;
      border-radius: 12px;
      &:hover{
        cursor: pointer;
        background-color: #f8f6f6;
        transition: all ease-in 0.2s;
      }
      .boxIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        .icons{
          width: 40px;
          height: 40px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .tool{
          background-image: url('../../../../../assets/icon/services/tools.webp');
        }
        .cart{
          background-image: url('../../../../../assets/icon/services/cart.webp');
        }
        .support{
          background-image: url('../../../../../assets/icon/services/support.webp');
        }
        .seo{
          background-image: url('../../../../../assets/icon/services/seo.webp');
        }
        .tech{
          background-image: url('../../../../../assets/icon/services/technology.webp');
        }
        .web{
          background-image: url('../../../../../assets/icon/services/web.webp');
        }
      }
      .nameService{
        margin-left: 12px;
        .name{
          font-size: 18px;
          font-weight: 400;
        }
      }
      
    }
    // .ml{
    //   margin-left: 20px;
    // }
  }
}