
@import '../../../../../assets/helpers/variable';

.quicklink{
  font-family: 'Roboto',sans-serif;
  padding-bottom: 120px;
  margin-top: 60px;
  .title{

  }
  .listTag{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    .tag{
      padding: 15px 28px;
      border: 1px solid #333;
      border-radius: 20px;
      transition: all ease 0.2s;
      &:hover{
        background-color: #333;
        color:$text-main-color;
        cursor: pointer;
      }
    }
  
    .divider{
      width: 2px;
      background-color: #a7a2a2;
      height: 50px;
      // margin: 2px 12px;
      border-radius: 4px;
      @media #{$media-small-phone} {
        display: none;
      }
      @media #{$media-ipad} {
        display: block;
      }
    }
  }

}