

.listCategory{

  font-family: 'Roboto',sans-serif;

    .listItem{

        .menu{
          width: 100%;
          list-style: none;
          .item{

              .link{
                text-decoration: none;
                color: #333;
                .air{
                  width: 79px;
                  height: 56px;
                  background-image: url("https://www.apple.com/v/mac/home/by/images/chapternav/macbookair_light__dfypt7o3xfgy_large.svg");
                }
                .monitor{
                  width: 72px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/mac/home/by/images/chapternav/displays_light__d67yrnk0qsa6_large.svg");
                }
                .mini{
                  width: 28px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/mac/home/by/images/chapternav/mac_mini_light__e7ojhup2ezau_large.svg");
                }
                .imac{
                  width: 43px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/mac/home/by/images/chapternav/imac_light__cx5ex9nbqxme_large.svg");
                }
                .pro{
                  width: 85px;
                  height: 54px;
                  background-image: url("https://www.apple.com/v/mac/home/by/images/chapternav/macbook_pro_light__bvnmtmeikj1e_large.svg");
                }
                .icon{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .label{
                  text-align: center;
                  margin-top: 0;
                  margin-bottom: 0px;
                  padding: 0px ;
                  font-size: 12px;
                }
                .new{
                  text-align: center;
                  padding: 0;
                  margin-top: 3px;
                  font-size: 10px;
                }

                &:hover{
                  cursor: pointer;
                  opacity: 0.6;
                  transition: all 0.2s ease-in;
                }
              }

          }
        }

    }

}