

.infoPartner{
  font-family: 'Roboto',sans-serif;
  margin-bottom: 70px;
  .numberSystem{
    font-size: 37px;
  }
  .layoutItem{
    .mainLayout{
      .item{
        width: max-content;
        .number{
          font-size: 42px;
          font-weight: 400;
          margin:10px 0;
        }
        .line{
            width: 50px;
            height: 3px;
            background-color: rgb(35, 78, 232);
            border-radius: 4px;
        }
        .title{
          word-wrap: break-word;
        }
      }
    }
  }


}