

.profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins',sans-serif;
}



.category{
  height: 100%;
  min-height: 60vh;
  background-color: #5895e073;
  .tabs {
    display: flex;
    flex-direction: column;
    width: 200px;
    // border-right: 1px solid #ddd;
  }
}

.tab {
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background 0.3s;

  &:hover {
    background: #f0f0f0;
  }

  &.active {
    background: #ffffff;
  }
}

.content {
  padding: 20px;
  flex-grow: 1;
}