

.infoBrand{
  // background-color: #dadada;
  padding: 0px  47px;
  height: max-content;
  font-family: 'Roboto',sans-serif;
  .storeName{
    padding: 0;
    font-size: 18px;
    margin: 0;
    .iconVerify{
      color: #28eb0f;
    }
  }
  .layoutContent{
    .listag{
      display: flex;
      .tag{
        width: max-content;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 600;
        transition: all ease-in 0.2s;
        &:hover{
          cursor: pointer;
          opacity: 0.8;
        }
      }
      .open{
        color: #ffffff;
        background-color: #f1446a;
      }
      .freeship{
        color: #ffffff;
        background-color: #fa0808;
      }
      .policy{
        color: #ffffff;
        background-color: #1c5386;
      }
      .ml{
        margin-left: 5px;
      }
    }
    
    .address{
      margin-top: 10px;
    }
    .phone{
      margin-top: 20px;
    }
    .warehouse{
      margin-top: 20px;

    }
    .price{
      color: #090909;
      font-size: 24px;
      font-weight: 600;
    }
    .amount{
      .titleAmount{
        font-weight: 600;
      }
      .count{
        padding: 4px  10px;
        border-radius: 4px;
        border: 1px solid #1972f7;
        margin-left: 4px;
      }
    }
    .buyProduct{
      margin-top: 30px;
      .btnBuy{
        border: 1px solid #333;
        background-color: #ffffff;
        padding: 12px 28px;
        border-radius: 5px;
        font-size: 14px;
        &:hover{
          cursor: pointer;
        }
      }
      .installment{
        margin-left: 10px;
      }
    }
    .social{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 40px 0 ;
      .icSocial{
        .image{
          width: 40px;
          height: 40px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          &:hover{
            cursor: pointer;
          }
        }
        .ml{
          margin-left:25px ;
        }
        .iconFa{
          background-image: url('../../../../../../assets/icon/facebook.webp');
        }
        .iconZalo{
          background-image: url('../../../../../../assets/icon/zalo.webp');
        }
        .iconInstar{
          background-image: url('../../../../../../assets/icon/insta.webp');
        }
        .iconMes{
          background-image: url('../../../../../../assets/icon/messenger.webp');
        }
        .iconTelegram{
          background-image: url('../../../../../../assets/icon/telegram.webp');
        }
        
      }
    }
  }
}