@import '../../../../../assets/helpers/variable';

.becomePartner{

  font-family: 'Roboto',sans-serif;
  margin-top: 60px;

  .title{
    text-align: center;
    font-size: 40px;
    
  }
  .titleSection{
    font-size: 30px;
  }
  .desSection{
    line-height: 160%;
  }
  .btn{
    margin-bottom: 40px;
    .buttonBecomePartner{
      background-color: #064d7f;
      color: $text-main-color;
      padding: 20px 28px;
      border: none;
      border-radius: 4px;
      font-size: 18px;
      transition: all 0.2s ease-in;
      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }

  .outStanding{
    margin-top: 50px;
    margin-bottom: 50px;
    .item{
      width: calc(22% - 40px);
      // border: 1px solid #dadada;
      height: auto;
      border-radius: 4px;
      box-shadow: 1px 2px 10px #dadada;
      padding: 10px 20px;
      transition: box-shadow 0.3s ease;
  
      &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }
      .titleItem{
        text-align: center;
      }
      .desItem{
        line-height: 160%;
        text-align: justify;
        // max-height: 0;
        // overflow: hidden;
        // opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        margin-top: 0.5rem;
        
        &.expanded {
          max-height: 100px; /* Hoặc điều chỉnh cho phù hợp với chiều cao của nội dung */
          opacity: 1;
        }
      }
      .header{
        background-color: #064d7f;
        color: #ffffff;
        cursor: pointer;
        padding: 5px 0;
      }

      .image{
        .img{
          width: 100%;
          height: 150px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .dataClient{
          background-image: url('../../../../../assets/images/home/data-client.webp');
        }
        .sell{
          background-image: url('../../../../../assets/images/home/sell.webp');
        }
        .smart{
          background-image: url('../../../../../assets/images/home/smart.webp');
        }
        .reasonable{
          background-image: url('../../../../../assets/images/home/cost.webp');
        }
      }
    }
  }
  

}

// @import '../../../../../assets/helpers/variable';

// .becomePartner {
//   font-family: 'Roboto', sans-serif;
//   margin-top: 60px;

//   .title {
//     text-align: center;
//     font-size: 40px;
//   }

//   .titleSection {
//     font-size: 28px;
//   }

//   .btn {
//     margin-bottom: 40px;

//     .buttonBecomePartner {
//       background-color: #064d7f;
//       color: $text-main-color;
//       padding: 20px 28px;
//       border: none;
//       border-radius: 4px;
//       font-size: 18px;
//       transition: all 0.2s ease-in;

//       &:hover {
//         cursor: pointer;
//         opacity: 0.8;
//       }
//     }
//   }

//   .outStanding {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
//     justify-content: space-between;

//     .item {
//       width: calc(25% - 20px);
//       border-radius: 4px;
//       box-shadow: 1px 2px 10px #dadada;
//       padding: 10px 20px;
//       transition: box-shadow 0.3s ease;

//       &:hover {
//         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
//       }

//       .titleItem {
//         text-align: center;
//       }

//       .desItem {
//         line-height: 160%;
//         text-align: justify;
//         max-height: 0;
//         overflow: hidden;
//         opacity: 0;
//         transition: max-height 0.3s ease, opacity 0.3s ease;
//         margin-top: 0.5rem;

//         &.expanded {
//           max-height: 100px; /* Thay đổi nếu cần phù hợp với nội dung */
//           opacity: 1;
//         }
//       }

//       .header {
//         cursor: pointer;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin-top: 0.5rem;
//       }
//     }
//   }
// }
