

.airpods{
  // width: 100%;
  
  .titlePageDetail{
    font-family: 'Roboto',sans-serif;
    font-size: 26px;
  }
  .layoutContent{
    display: flex;
    width: 100%;
    max-height: 500px;
    .listImage{
        width: 50%;
        
    }
    .infoBrand{
        width: 50%;
    }
  }
  .infoProduct{


  }
}