

.voucher{
  display: flex;
  font-family: 'Roboto',sans-serif;
  justify-content: center;
  align-items: center;
  .voucherLayout{
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #716e6e;
    border-radius: 10px;
    display: flex;

    flex-wrap: wrap;
    gap: 16px;
    .voucherItem{
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 300;
      &:hover{
        cursor: pointer;
      }
    }
    .vcStudent{
      background-color: #0d61df;
      color: #ffffff;
    }
    .vcAccount{
      background-color: #09935a;
      color: #ffffff;
    }
    .vcMember{
      background-color: #c60572;
      color: #ffffff;
    }
    .vcBooking{
      background-color: #e94b07;
      color: #ffffff;
    }
  }

}