
@import "../../../../../assets/helpers/variable";


.bannerService{
  display: flex;
  font-family: 'Roboto',sans-serif;
  @media #{$media-small-phone} {
    flex-direction: column;
  }
  @media #{$media-ipad} {
    flex-direction: unset;
  }
  .listBanner{
    width: 60%;
    display: flex;
    justify-content: space-between;
    @media #{$media-small-phone} {
      flex-direction: column;
      width: 100%;
    }

    @media #{$media-ipad} {
      flex-direction: unset;
    }
    .bannerItem{
     
      border-radius: 10px;
      box-sizing: border-box;
      overflow: hidden;
      @media #{$media-small-phone} {
        width: 100%;
      }
      @media #{$media-ipad} {
        width: 49%;
      }
    }
  }
  .board{
    

    @media #{$media-small-phone} {
      width: 100%;
      padding: 0px 0px;
    }
    @media #{$media-ipad} {
      width: 40%;
      padding: 0px 15px;
    }
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .titleSp{
      margin-top: 0;
      margin-bottom: 8px;
    }
    
    .menuBlog{
      border: 1px solid #333;
      list-style: none;
      padding: 5px 10px;
      border-radius: 8px;
      background-color: #f8f9fa;
      margin-bottom: 0;
      .item{
        padding: 9px 0;
        font-size: 16px;
        display: flex;
        .text{
          margin: 0 0;
          
        }
      }
    }
  }

}