@import "../../../assets/helpers/variable";

.headerPage{
  width: 100%;
  height: auto;
  box-shadow: 1px 2px 2px #dadada;
  .listItem{
      .logo{
        width: 10%; 
        font-size: 18px;
        padding:20px 0;
        .img{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          box-sizing: border-box;
          overflow: hidden;
          // background-image: url('../../../../public/logo.jpeg');
          // background-position: center;
          // background-repeat: no-repeat;
          // background-size: contain;
          &:hover{
            cursor: pointer;
          }
        }
      }
      .category{
        width: 60%;
        
        .menu{

          list-style: none;

          @media #{$media-small-phone} {
            display: none;
          }
      
          @media #{$media-ipad} {
            display: flex;
          }

          .item{
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            font-weight: 300;
           
            a{
              text-decoration: none;
              color: #403f3f;
            }
          }
          .hoverUnderlineAnimation{
            display: inline-block;
            position: relative;
            color: #0f0f0f;
            &:after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: #171717;
              transform-origin: bottom right;
              transition: transform 0.25s ease-out;
            }
            &:hover:after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }

        }
      }
      .authen{
        width: 25%;
        .layoutAuthen{
          // @media #{$media-small-phone} {
          //   display: none;
          // }

          @media #{$media-small-phone} {
            display: none;
          }
      
          @media #{$media-ipad} {
            display: flex;
            justify-content: flex-end;
          }
          
          .auth{
            border: 1px solid #737171;
            padding: 6px 16px;
            border-radius: 20px;
            transition: all ease-in 0.2s;
            &:hover{
              cursor: pointer;
              background-color: #0348b6;
              border: 1px solid #0348b6;
              .btnLogin{
                color: #ffffff;
              }
            }
            .btnLogin{
              background-color: transparent;
              border: none;
              font-size: 13px;
              font-weight: 400;
              transition: all ease-in 0.2s;
              &:hover{
                cursor: pointer;
                
              }
            }
            
          }
          .infoUser{
            display: flex;
            font-family: 'Poppins',sans-serif;
            font-weight: 600;
          }
          .line{
            width: 1px;
            height: 32px;
            background-color: #000000;
            margin: 0 10px;
            
          }
          .hotline{
            font-family: 'Roboto',sans-serif;
            font-size: 14px;
            .phone{
              margin: 3px 0;
              color: #0348b6;
              font-weight: 400;
            }
            .support{
              margin: 3px 0;
              color: #0348b6;
              font-weight: 400;
            }
          }
          
        }
      }
      .barIcon{
        @media #{$media-small-phone} {
          display: block;
        }
    
        @media #{$media-ipad} {
          display: none;
        }
      }
  }
}

.menu{
  .layout{
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
    // border-radius: 8px;
  }
}