/* Profile.module.scss */
.profileContainer {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  // max-width: 400px;
  margin: auto;
  // background-color: #f9f9f9;
}

.profileImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  .form{
    width: 100%;
    .rowForm{
      display: flex;
      padding: 10px 0;
     
      .saveInfo{
        background-color: #0e82ee;
        color: #ffffff;
        border: none;
        padding: 10px 22px;

      }
      .label{
        width: 50%;
        min-width: 200px;
        text-align: end;
        font-size: 13px;
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .fields{
        width: 50%;
        .input{
          width: 100%;
          padding: 10px 20px;
          border-radius: 3px;
          border: 1px solid #dadada;
          box-sizing: border-box;
          overflow: hidden;
        }
      }
      
    }
    .itemButton{
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.profileDetails h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.profileDetails p {
  margin: 5px 0;
  color: #666;
}