


.submitPartner{
  font-family: 'Roboto',sans-serif;
  .titleSection{
    .title{
      font-size: 30px;
    }
    .line{
      width: 70px;
      height: 3px;
      background-color: rgb(7, 78, 177);
    }
    .introduce{

    }
  }
  .formSection{
    margin-bottom: 70px;
    .formLayout{
      .formSubmit{
        .rowForm{
          margin-top: 20px;
          .field{
            
            .nameStore{
              margin: 10px 0;
              font-size: 13px;
              color: #3e3c3c;
              .require{
                color: rgb(241, 46, 46);
                font-size: 17px;
               
              }
            }
            .inputField{
              width: 100%;
              padding: 20px 3%;
              box-sizing: border-box;
              overflow: hidden;
              border-radius: 4px;
              outline: none;
              border:1px solid #333;
              font-size: 16px;
            } 
            .btnSubmit{
              margin-left: 10px;
              padding: 13px 35px;
              font-size: 16px;
              font-weight: 400;
              &:hover{
                cursor: pointer;
              }
            }
            .btnRegister{
              background-color: #0f4fd0;
              color: #ffffff;
              border: none;
            }
            .cancel{
              border: 1px solid #0f4fd0;
              color:#0f4fd0;
              background-color: transparent;
             
            }

            .agreePolicy{
              font-size: 14px;
              .strong{
                color: rgb(241, 46, 46);
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

}