

.accessory{

  font-family: 'Roboto',sans-serif;
  margin-top: 80px;
  

  &Title{
    font-size: 40px;
  }
  &Content{
    margin-top: 60px;
    position: relative;
    .btnSwiperCustom{
      width: 60px;
      height: 60px;
      background-color: #bfbfc2cb;
      border-radius: 50%;
      position: absolute;
      z-index: 100;
      top: 40%;
      font-size: 36px;
      transition: all ease-in 0.1s;
      color: #666669;
      &:hover{
        cursor: pointer;
        opacity: 0.7;
      }
    }
    .prevArrow{
      left: -2.5%;
    }
    .nextArrow{
      right: -2.5%;
    }
    .listAccessory{
     
      .itemAccesory{
        padding: 40px 30px ;
        background-color: #f5f5f7;
        border-radius: 10px;
        height: 450px;
        .name{
          font-size: 16px;
          font-weight: 550;
          text-align: center;
          padding: 10px;
        }
        .link{
          margin-top: 20px;
          
        }
        a{
          font-style: italic;
          color: #363639;
          &:hover{
            cursor: pointer;
            color: #3e3eef;
          }
        }
      }
    }
  }
}