@import '../../../../../assets/helpers/variable';

.productNew{
  margin-top: 60px;
  margin-bottom: 70px;
  .titleProductNew{
    font-size: 28px;
    font-family: 'Roboto',sans-serif;
  }

  .slideProduct{

    .listProduct{
      .cartProduct{
        color: $text-main-color;
        border-radius: 18px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 540px;
        font-weight: 600;
        font-family: 'Roboto',sans-serif;
        box-shadow: 2px 4px 12px #00000014;
        .nameProduct{
          font-size: 12px;
        }
        .sologan{
          font-size: 28px
        
        }
      }
      .ipad{
        background-image: url("../../../../../assets/images/home/ipad-pro-202405.webp");
      }
      .iphone{
        background-image: url("../../../../../assets/images/home/iphone-15-pro-202309.webp");
      }
      .ipadair{
        background-image: url("../../../../../assets/images/home/ipad-air-202405.webp");
      }
      .pencil{
        background-image: url("../../../../../assets/images/home/apple-pencil-202405.webp");
      }
      .watch{
        background-image: url("../../../../../assets/images/home/watch-s9-202309.webp");
      }
      .macbook{
        color: #000000;
        background-image: url("../../../../../assets/images/home/macbook-air-202402.webp");
      }

    }

  }

  .customNavProduct{
  
    .customNav{
      width: 45px;
      height: 45px;
      background-color: #000000;
      color: #ffffff;
    
      &:hover{
        cursor: pointer;
      }
    }
    .pre{
      margin-right: 15px;
    }
    .next{

    }
  }

}