


.partnerList{
  margin-top: 70px;
  font-family: 'Roboto',sans-serif;
  background-color: rgba(229, 238, 246, 0.65);
  padding-bottom: 60px;
  .titleSection{
    text-align: center;
    font-size: 38px;
    // color: #ffffff;
  }
  .listPartner{
    .partner{
      // border: 1px solid #dadada;
    }
  }
  
}