// @tailwind base;

// @tailwind components;

// @tailwind utilities;

.contact{
  font-family: 'Roboto',sans-serif;
  padding-top:80px;
  padding-bottom: 100px;
  &Info{
    padding: 20px;
    .contactWith{
        color: rgb(35, 48, 236);
        font-weight: bold;
    }
    .titleSeo{
      font-size: 40px;
    }
    .groupInfo{
      margin-top: 80px;
      font-weight:600 ;
      .titleGroup{
        font-size: 17px;
        color: rgb(152, 154, 156);
      }
      .detailInfo{
        font-size: 22px;
        color: #000000;
        margin: 7px 0;
      }
    }
  }
  &Form{
    padding: 20px;
    .layoutForm{
      .formContact{
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 15px;
        box-shadow: 1px 4px 10px #dadada;
        .groupField{
          width: 100%;
          position: relative;
          .icons{
            color: #706b6b;
            position: absolute;
            top: 60%;
            left: 2%;
          }
          .icoMessage{
            color: #706b6b;
            position: absolute;
            top: 15%;
            left: 2%;
          }
          .labelForm{
            color: #000000;
            font-weight: 600;
          }
          .inputField{
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            padding: 15px 35px ;
            border-radius: 8px;
            border: 1px solid #dadada;
            font-size: 16px
          }
          .textField{
            width: 100%; 
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 8px;
            height: 300px;
            border: 1px solid #dadada;
            font-size: 16px;
            padding: 15px 35px ;
          }
        }
        .groupBtn{
          padding: 25px 0;
          .btnSenMessage{
            border: none;
            padding: 15px 28px;
            border-radius: 8px;
            background-color: #4441f3;
            color: #ffffff;
            font-size: 13px;
            font-weight: bold;
          }
        }
      }
    }
  }
}