

.aboutApplication{
  width:90%;
  padding: 30px 5%;
  background-color: rgba(248, 248, 248, 0.983);
  font-family: 'Roboto',sans-serif;
  .deslv1{
    font-size: 20px;
    font-weight: 600;
    color: rgb(158, 156, 152);
  }
  .deslv2{
    font-size: 18px;
    font-weight: 600;
    color: rgb(158, 156, 152);
  }
}