

.aboutApplication{
  width:90%;
  padding: 30px 5%;
  background-color: rgba(245, 242, 239, 0.676);
  font-family: 'Roboto',sans-serif;
  .deslv1{
    font-size: 20px;
    font-weight: 600;
  }
  .deslv2{
    font-size: 18px;
    font-weight: 600;
  }
}