@import "../../../assets/helpers/variable";

.footer{
    // width: 76%;
    // padding: 10px 12%;
    background: rgb(17, 17, 17);
    font-family: 'Poppins', sans-serif;
    color: $text-main-color;
    @media #{$media-small-phone} {
        width: 100%;
        padding: unset;
    }
    @media #{$media-ipad} {
      // width: 100%;
      // padding: 0px 5%;
      // height: auto;
    }
    .mainFooter{
        border-bottom: 1px solid #dadada;
        @media #{$media-small-phone} {
            @include display-flex;
            flex-direction: column;
           
        }
        @media #{$media-ipad} {
          flex-direction: unset;
        }
        .item{
            // width: 33%;
            height: 320px; 
            @media #{$media-small-phone} {
                width: 90%;
                padding: 0px 5%;
                // height: auto;
                
            }
            @media #{$media-ipad} {
              // width: 33%;
              width: 90%;
              // padding: 0px 5%;
              // height: auto;
            }
            .title{
                font-size: 14px;
                @media #{$media-small-phone} {
                    font-size: 16px;
                }
            }
            .note{
                font-size: 12px;
                color: #bcbaba;
                @media #{$media-small-phone} {
                  font-size: 12px;
                }
                // @media #{$media-ipad} {
                //   font-size: 15px;
                // }
            }
        }
        .item1{
           
            .icon{
                display: flex;
                padding-left: 0;
                list-style: none;
                margin-left: -8px;
                .itemIC{
                    width: 35px;
                    height: 35px;
                    border-radius: 4px;
                    margin-left: 8px;
                    font-size: 18px;
                    .fb{
                      background-image: url('../../../assets/icon/facebook.webp');
                    }
                    .insta{
                      background-image: url('../../../assets/icon/insta.webp');
                    }
                    .mess{
                      background-image: url('../../../assets/icon/messenger.webp');
                    }
                    .zalo{
                      background-image: url('../../../assets/icon/zalo.webp');
                    }
                    .ic{
                      width: 100%;
                      height: 100%;
                      background-position: center;
                      background-size: cover;
                    }
                }
            }
        }
    }
    .copyright{
        // width: 100%;
        @media #{$media-small-phone} {
            display: flex;
            flex-direction: column;
        }
        @media #{$media-ipad} {
          display: flex;
          flex-direction: unset;
        }
        div{
            .shareContent{
                font-weight: 400;
                font-size:13px;
                color: #898686;
            }
        }
        .right{
            @media #{$media-small-phone} {
                display: flex;
                
            }
            @media #{$media-ipad} {
              // display: flex;
              // flex-direction: flex;
            }
            p{
                margin-left: 15px;
            }
        }
    }
    .footerLogo{
        width: 20%;
    }
}
