

.aboutApplication{
  width:90%;
  padding: 30px 5%;
  background-color: rgba(251, 251, 250, 0.899);
  font-family: 'Roboto',sans-serif;
  .deslv1{
    font-size: 18px;
    font-weight: 600;
  }
  .deslv2{
    font-size: 14px;
    font-weight: 600;
    // color: rgb(65, 66, 67);
  }
  .deslv3{
    font-size: 13px;
  }
}