

.menubar{
  width: 100%;

  
  font-family: 'Roboto',sans-serif;
  .menu{
    padding: 0px 20px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    .itemLink{
      font-size: 13px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}