

.progressRegis{
  font-family: 'Roboto',sans-serif;
  margin-bottom: 70px;

  .titleSection{

    text-align: center;
    margin-bottom: 60px;
    font-size: 38px;
  }
  .contentProgress{
    .rowStep{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .step{
        width: 22%;
        height: auto;
        min-height: 320px;
        // border: 2px solid #649ff7;
        box-shadow: 1px 2px 10px #dadada;
        border-radius: 10px;
        .icons{
          width: 100%;
          height: 40%;
          font-size: 55px;
          color: #327ae6;
          padding: 20px 0;
        }
        .content{
          padding: 0 20px;
          margin-top: 10px;
          .titleStep{
            font-size: 22px;
            font-weight: 700;
            text-align: center;
            margin: 4px;
          }
          .desStep{
            // text-align: justify;
            line-height: 1.8rem;
            font-size: 16px;
            margin: 10px 0;
            color: #4c4e51;
          }
        }
      }
      .space{

      }

    }
  }


}