

.blogSuggest{

  font-family: "Roboto",sans-serif;
  margin-top: 80px;
  padding-bottom: 100px;
  &Title{
    font-size: 40px;
  }
  &Content{
    .itemBlog{
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 200px;
      .shortContent{
        width: 40%;
        height: 100%;
        .title{
          font-size: 30px;
        }
        .content{
          color: rgb(113, 115, 117);
          font-size: 14px;
        }
        .readMore{
          font-style: italic;
          background-color: rgba(241, 244, 246, 0.868);
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          a{
            color: rgb(136, 145, 152);
          }
        }
      }
      .imageContent{
        width: 60%;
        height: 100%;
        // padding: 20px;
        .image{
          width: 30%;
          height: 100%;

        }
      }
    }
  }
}