



@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");
// *, *::after, *::before{
//   margin: 0;
//   padding: 0;
//   box-sizing:border-box;
// }
// body{
//   font-family: "Poppins", sans-serif;
// }

.faq{
  font-family: 'Roboto',sans-serif;
  margin-bottom: 70px;
  .titleSection{
    font-size: 30px;
  }
  .line{
      width: 50px;
      height: 3px;
      background-color: rgb(35, 78, 232);
      border-radius: 4px;
      margin-bottom: 20px;
  }
}


.c{
  position: relative;
  // margin:1em;
}

.input{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;
}

.h1{
  background:rgba(241, 241, 241, 0.568);
  color:rgb(40, 40, 41);
  padding:20px 8px ;
  position: relative;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 400;
}
.label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  &::before{
    // content:"";
    display: inline-block;
    border: 15px solid transparent;
    border-left:20px solid white;
    font-size: 10px;
  }
}


.p{
  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
  p {
    text-align: justify;
    padding:0px 22px;
    line-height: 1.6rem;
    font-style: italic;
    font-size: 15px;
    a{
      color:steelblue;
    }
  }
}

.input:checked ~ h1 label::before{
  border-left:15px solid transparent;
  border-top:20px solid white;
  margin-top:12px;
  margin-right:10px;
}
.input:checked ~ h1 ~ div.p{
  max-height:100px;
}
