@import "../../../../../assets/helpers/variable";


.booking{
  font-family: 'Roboto',sans-serif;

  .titleBooking{
    margin-bottom: 0px;
  }
  .desBook{
    line-height: 160%;
    color: #3a3939;
    font-size: 16px;
    margin-top: 6px;
  }
  .formContainer{
    width: 100%;
    .formBooking{
      width: 100%;
      .rowForm{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        @media #{$media-small-phone} {
          flex-direction: column;
        }
        @media #{$media-ipad} {
          flex-direction: unset;
        }
        .formField{
         
          @media #{$media-small-phone} {
            width: 100%;
          }
          @media #{$media-ipad} {
            width: 48%;
          }
          .labelField{
            font-size: 16px;
            margin-top: 6px;
            margin-bottom: 4px;
          }
          .inputField{
            padding: 15px 22px;
            border-radius: 4px;
            outline: none;
            border: 1px solid #a39f9f;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            font-size: 14px;
            color: #5d5b5b;
          }
         
        }
        .textarea{
          width: 100%;
          .des{
            width: 100%;
            min-height: 150px;
            box-sizing: border-box;
            overflow: hidden;
          }
        }
        .submit{
          padding: 14px 20px;
          border: none;
          background-color: #074ec8;
          color: #ffffff;
          border-radius: 6px;
          font-size: 16px;
          @media #{$media-small-phone} {
            width: 100%;
          }
          @media #{$media-ipad} {
            width:unset;
          }
        }
      }
    }
  }
}