


.navbarBlog{
  display: flex;
  justify-content: space-between;
 
  border-bottom: 1px solid #dadada;
  font-family: 'Roboto',sans-serif;

  .logoBlog{
    font-size: 20px;
    font-weight: 700;
   
    // padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      cursor: pointer;
    }
    .img{
      background-image: url('../../../../../assets/images/logo.webp');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50px;
      height: 50px;
    }
  }
  .category{
    .menu{
      list-style: none;
      display: flex;
      justify-content: space-between;
      .option{
        padding: 5px 15px;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
          transition: all ease-in 0.3s;
        }
      }

    }
  }
}