

.similarProduct{
  font-family: 'Roboto',sans-serif;
  margin-top: 60px;
  margin-bottom: 60px;
  .layoutContent{
    .title{
      font-size: 22px;
    }
  }
  .listProductSimilar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .products{
      width: 20%;
      height: 320px;
      background-color: #dadada;
      border-radius: 10px;
    }
    .ml{
      margin-left: 20px;
    }
  }
}